/* ---------------------------------------- */
/* ---------------DARK-MODE---------------- */
/* ---------------------------------------- */

body.dark-mode {
    background-color: #121212;
    color: #FFFFFF;
}
body.dark-mode header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-style: solid;
  border-color: black;
  margin-left: 20px;   
  margin-right: 20px;
  height: 100px;
  position: static;
  box-shadow: none;
}
body.dark-mode .navList{
    list-style: none;
    display: flex;
    gap: 2rem;
}
body.dark-mode nav .navList li a{
    text-decoration: none;
    color: var(--background-color);
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
}
body.dark-mode nav .navList li a:hover{
    color: var(--primary-color);
    background-color: var(--secondary-color);
    padding: 15px;
    border-radius: 5px;
}
body.dark-mode .search{
  border-style: solid;
  border-color: black;
  border-radius: 5px;
  margin-left: 20px;   
  margin-right: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 10px 20px;
  height: 350px;
  box-shadow: none;
}
body.dark-mode .categorySearch,body.dark-mode .DifficultySearch,body.dark-mode .TimePrepSearch{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: start;
  border-style: solid;
  border-color: black;
  background-color: #333;
  margin-right: 10px;
  margin-top: 20px;
  width: 16rem;
  height: 12rem;
  padding-left: 10px;
  color: #121212;
}
body.dark-mode .inputLabel{
  display: flex;
  flex-direction: row;
}
body.dark-mode input[type=checkbox]{
  margin-right: 10px;
}
body.dark-mode .recetteA,body.dark-mode .recetteB,body.dark-mode .recetteC{
  border-style: solid;
  border-color: black;
  border-radius: 5px;
  box-shadow: none;
  height: 600px;
  display: flex;
  flex-direction: column;
  width: 30%;
}

/* ---------------------------------------- */
            /* ! like !! */
/* ---------------------------------------- */

.heart {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    transition: transform 0.2s ease;
    background-color: white;
    border-radius: 50%; 
    padding: 5px;
  }
  .heart.active {
    transform: scale(1.3);
  }
  .imgcontainer {
    position: relative;
    width: 100%;
  }