/* ---------------------------------------- */
/* -------------Version Mobile------------- */
/* ---------------------------------------- */

@media(320px <= width <= 767px){
    *, ::before, ::after {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
    header{
        width: 100%;
        margin-right: 20px;
        border: 0;
        margin: 0;
    }
    .logoContainer{
        position: relative;
    }
    .appTitle{
        width: auto;
    }
    .navList{
        display: none;
        align-items: center;
    }
    .navList.show{
        display: block;
        font-size: 5em;
        width: 100%;
        flex-direction: column;
        background-color: rgba(255, 255, 255, 0.555);
        backdrop-filter: blur(8px);
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1000;
    }
    .navList.show li a{
        font-size: 1.5rem;
        color: var(--primary-color);
    }
    .toggleB{
        display: block;
        margin-bottom: 20px;
        width: 60px;
        cursor: pointer;
        /* color: var(--background-color); */
        border-style: none;
        /* border-color: var(--primary-color); */
        border-radius: 5px;
        /* position: absolute;  */
        right: 6rem;
        top: 1rem; 
        margin-left: 10px;
        background-image: url(../assets/menu-deroulant.png);
        width: 50px;
        height: 50px;
        background-size: cover;
    } 
    .dark{
        display: none;
    }
    .dark1{
        display: block;
    }
   
    /* -------------Search Section------------- */

    .searchBar{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .search{
        height: max-content;
    }
    #searchInput{
        width: 100%;
    }
    #searchButton{
        width: 35%;
        font-size: 0.8rem;
    }

    .recettesContainer{
        display: flex;
        flex-wrap: wrap;
    }
    .recetteA, .recetteB, .recetteC{
        width: 80%;
        margin-bottom: 25px;

    }
 
    /* -------------Infos Section------------- */

    .container_info_contact{
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 800px;
    }
    .infos{
        width: 90%;
        height: 800px;
    }
    .infos-content p{
        font-size: 1rem;
        padding: 10px;
        text-align: center;
    }
    .contact{
        width: 90%;
    }
    .faq{
        width: 90%;
    }
}





    
/* ---------------------------------------- */
/* ------------Version Tablette------------ */
/* ---------------------------------------- */

@media(768px <= width <= 1023px){
    *, ::before, ::after {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
    .logoContainer{
        position: relative;
    }
    .navList{
        display: none;
    }
    .navList.show{
        display: block;
        font-size: 5em;
        width: 100%;
        flex-direction: column;
        background-color: rgba(255, 255, 255, 0.555);
        backdrop-filter: blur(8px);
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1000;

    }
    .navList.show li a{
        font-size: 2.5rem;
        color: var(--primary-color);
    }
    .toggleB{
        display: block;
        margin-bottom: 20px;
        width: 60px;
        cursor: pointer;
        border-style: none;
        border-radius: 5px;
        right: 6rem;
        top: 1rem; 
        margin-left: 10px;
        background-image: url(../assets/menu-deroulant.png);
        width: 50px;
        height: 50px;
        background-size: cover;
    } 

     /* -------------Search Section------------- */

     .searchBar{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .search{
        height: max-content;
    }
    #searchInput{
        width: 100%;
    }
    #searchButton{
        width: 35%;
        font-size: 1.5rem;
    }
    .recettesContainer{
        display: flex;
        flex-wrap: wrap;
    }
    .recetteA, .recetteB, .recetteC{
        width: 45%;
        margin-bottom: 25px;
    }

        /* -------------Infos Section------------- */

        .container_info_contact{
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 800px;
        }
        .infos{
            width: 82%;
            height: 800px;
        }
        .infos-content p{
            font-size: 1.2rem;
            padding: 10px;
            text-align: center;
        }
        .contact{
            width: 70%;
        }
        .faq{
            width: 70%;
        }
}