*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  :root{
      --primary-color: #E67F22;
      --secondary-color:#F5F5F5; 
      --background-color: #FFFFFF;
    
  }

.footer{
    display: flex;
    justify-content: space-around;
    width: 0 auto ;
}

.ulFooter{
    list-style-type: none;
    
}

a{
    text-decoration: none;
}

.pFooter{
    text-align: center;
    font-size: small;
    border-top: 1px solid;
    margin-top: 5px;
    color: var(--secondary-color);
}

.navFooter{
    color: var(--primary-color);
    font-weight: 600;
}





/* ---------------------------------------- */
/* -----------------Recette----------------- */
/* ---------------------------------------- */


.recette{    
margin-top: 10vh ;
display: flex;
flex-direction: column;
align-items: center;
height: 30vh; /* Ajuste la hauteur à 100% de l'écran */
background-color: var(--primary-color);

}

h2{
    background-color: yellowgreen;
    border: solid 2px green;
    border-radius: 2px 2px;
    width: 0 auto;
    text-align: center;
    margin-bottom: 10px;
}


.category, .time, .difficult, .person{
    background-color: yellowgreen;
    border: solid 2px green;
    border-radius: 2px 2px;
    width: 0 auto;
    text-align: center;
}

.details{
    margin-top: 300px;
    display: flex;
    margin-left: 55vh;
    flex-direction: column;
    justify-content: space-around;
    border: var(--primary-color) solid 3px;
    border-radius: 30px 0px;
    width: 50%;
    padding: 2vh;

}

.steps p{
    border: #E67F22 solid 3px;
    border-radius: 20px 0px;
    padding: 1vh;
    margin-bottom: 5px;

}

.ingredient p{
    border: #E67F22 solid 3px;
    border-radius: 0px 20px;
    padding: 1vh;


}

ol, ul{
    margin-left: 20px;
}