*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
    --primary-color: #E67F22;
    --secondary-color:#F5F5F5; 
    --background-color: #FFFFFF; 
}
/* ---------------------------------------- */
/* -----------------HEADER----------------- */
/* ---------------------------------------- */

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-style: solid;
    border-color: var(--secondary-color);
    margin-left: 20px;   
    margin-right: 20px;
    box-shadow: #F5F5F5 2px 2px 10px;
    height: 100px;
    position: static;
}

.logoContainer{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.logoG{
    font-size: 3rem;
    color: var(--background-color);
    font-weight: bold;
    background-color: var(--primary-color) ;
    border-style: solid;
    border-color: var(--primary-color);
    border-radius: 50%;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.appTitle{
    font-size: 2rem;
    color: var(--primary-color);
    font-weight: bold;    
}
.navList{
    list-style: none;
    display: flex;
    gap: 2rem;
}
nav .navList li a{
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
}
nav .navList li a:hover{
    color: var(--primary-color);
    background-color: var(--secondary-color);
    padding: 15px;
    border-radius: 5px;
}
.dark{
    font-size: 2rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

/* ---------------------------------------- */
/* ---------------DARK-MODE---------------- */
/* ---------------------------------------- */

body.dark-mode {
    background-color: #121212;
    color: #FFFFFF;
}
body.dark-mode .navList{
    list-style: none;
    display: flex;
    gap: 2rem;
}
body.dark-mode nav .navList li a{
    text-decoration: none;
    color: var(--background-color);
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
}
body.dark-mode nav .navList li a:hover{
    color: var(--primary-color);
    background-color: var(--secondary-color);
    padding: 15px;
    border-radius: 5px;
}